////////////////////////////////////
// Import of fonts for breab text //
////////////////////////////////////

@import url(http://fonts.googleapis.com/css?family=Cousine:400,700,400italic);

///////////////////////////////////////////////////////////////
// Change p-font variable to match imported font family name //
///////////////////////////////////////////////////////////////

$p-font: Cousine, "Helvetica Neue", Arial, Garuda, Sans-serif;

//////////////////////////////////////////
// Import of font for headings and logo //
//////////////////////////////////////////



///////////////////////////////////////////////////////////////
// Change h-font variable to match imported font family name //
///////////////////////////////////////////////////////////////

$h-font: georgia, "Times New Roman", serif;

///////////////////////////////
// All stylings for headings //
///////////////////////////////

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $h-font;
    weight: bold;}
	-webkit-font-smoothing: antialiased}

h1 {
  font: {
    size: 2em;}
    margin: 0 0 ;}

h2 {
  font: {
    size: 1.8em;}}

h3 {
  font: {
    size: 1.6em;}}

h4 {
  font: {
    size: 1.4em;}}

h5 {
  font: {
    size: 1.2em;}}

h6 {
  font: {
    size: 1em;}}

///////////////////////////////////////////
// All stylings for general text content //
///////////////////////////////////////////

p {
	font: {
		family: $p-font;
		size: $f-size;}
	margin: 0 0 $l-height 0;}

ul,ol {
	margin: 0 0 $l-height $l-height;
}