////////////////////////////////////
// Import of fonts for breab text //
////////////////////////////////////

@import url(http://fonts.googleapis.com/css?family=Cousine:400,700,400italic);

///////////////////////////////////////////////////////////////
// Change p-font variable to match imported font family name //
///////////////////////////////////////////////////////////////

$p-font: Cousine, "Helvetica Neue", Arial, Garuda, Sans-serif;

//////////////////////////////////////////
// Import of font for headings and logo //
//////////////////////////////////////////



///////////////////////////////////////////////////////////////
// Change h-font variable to match imported font family name //
///////////////////////////////////////////////////////////////

$h-font: georgia, "Times New Roman", serif;

///////////////////////////////
// All stylings for headings //
///////////////////////////////


///////////////
// Variables //
///////////////

// Line height, change to match vertical rhytm for document
$l-height: 1.5em;

// Main styling

h1, h2, h3, h4 h5, h6 {
	font: {
		family: $h-font;}
	-webkit-font-smoothing: antialiased}
